In [183]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm

In [184]:
dataframe = pd.read_csv("./heart.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [185]:
dataframe["target"] = dataframe["target"].replace(0, -1)
dataframe.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,-1
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,-1
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,-1
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,-1
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,-1

In [186]:
features = np.array(dataframe.drop(columns="target"))
labels = np.array(dataframe["target"])

features_train, features_test, labels_train, labels_test = train_test_split(features, labels)

model = svm.SVC(kernel="linear")
model.fit(features_train, labels_train)
labels_predict = model.predict(features_test)
print(model.score(features_test, labels_test))

0.8249027237354085

In [187]:
import time
# Support Vector Machine classifiers by kernel which is linear.
class SVC:
    def __init__(self, cost=0):
        self.cost = cost
    
    def fit(self, features_train, labels_train):
        
        #store info
        self.d = features_train.shape[1]
        self.n_record = features_train.shape[0]
        
        # set features and labels
        full_one = np.full((self.n_record, 1), 1)
        self.features = np.append(features_train, full_one, axis=1)
        self.lables = labels_train
        
        # set vector of weight by d+1 dimensions
        self.weight = np.zeros(self.d + 1)
        
        self.compute()
        
    
    def compute(self):
        
        pass
    
    def predict(self, features_test):
        pass
    
    def loss(self, labels_predict, labels_test):
        pass

In [188]:
model = SVC()
model.fit(features_train, labels_train)

In [189]:
# Model Selection
class ModelSelection:
    def __init__(self, features, labels , model):
        self.features = features
        self.labels = labels
        self.model = model
        pass